@charset "UTF-8";

@base: #BBBFDC;
@baseDark: #666099;
@lightGrey: #999999;
@darkGrey: #666666;
@white: #ffffff;
@font-stack: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

.col-xs-offset-0 {
	margin-left: 0;
}

img
{
    width: 100%;
    height: auto;
}
h1, .display-1, .display-2, .display-3, .display-4
{
    font-weight: 100;
}

h1, h2
{
    font-weight: 200;
}

h4, h5, h6
{
    font-weight: 300;
    padding-bottom: 1rem;
}

@media screen and (max-width: 479px)
{
    .navbar-brand
    {
        margin-right: 0rem;
    }
}

.navbar
{
    border-bottom: solid 0.2rem @baseDark;
    padding-top: 0rem;
    padding-bottom: 0rem;
    transition: all 0.4s ease;
    transition: background-color 0.4s ease 0.1s;
    .logo-large
    {
        width: 10rem;
        height: 3rem;
        transition: all 0.4s ease;
    }
    .navbar-brand
    {
        background-color: @baseDark;
        padding: 0rem;
        z-index: 32767;
    }
    .navbar-nav
    {
        padding-top: 0.5rem;
    }
    .btn
    {
        background-color: @white
    }
    .navbar-toggler
    {
        border-radius: 0rem;
        width: 3rem;
        height: 3rem;
    }
    .navbar-toggler:not(.collapsed)
    {
        background-color: @baseDark;
    }
}
.navbar-expand
{
    background-color: rgba(0, 0, 0, 0);
    border-bottom-style: none;
    transition: background-color 0.2s ease;
    .logo-large
    {
        width: 18rem;
        height: 6rem;
    }
    .navbar-brand
    {
        background-color: rgba(0, 0, 0, 0);
    }
    .collapsing, .in
    {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
        padding: 1rem;
    }
}

.fa-hatebu {
    &:before {
        content: "B!";
        font-family: Verdana;
        font-weight: bold;
    }
}

.jumbotron
{
    background: linear-gradient(135deg, @baseDark, @base);
    background-size: cover;
    min-height: 35rem;
    height: 100vh;
    .container
    {
        color: @white;
        padding-top: 30vh;
    }
}

.subtitle
{
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.card
{
    padding: 0rem;
    border: 1px white solid;
    background-repeat: no-repeat;
    background-size: 100% auto;
    .overcard
    {
        border-style: none;
        min-height: 20rem;
        padding: 1rem;
        margin: 0rem;
        background-color: rgba(255, 255, 255, 0.5);
        article
        {
            min-height: 18rem;
        }
        h3
        {
            font-size: 1.4rem;
        }
        article p
        {
            color: #006;
            background-color: rgba(255, 255, 255, 0.5);
            border: solid 0.3rem rgba(255, 255, 255, 0.1);
        }
        figure *
        {
            width: 100%;
        }
        figcaption
        {
            font-size: 80%;
        }
    }
}

.about-card article
{
    min-height: 17rem;
}

#achieve
{
    padding: 0rem;
    li
    {
        min-height: 7.2rem;
        list-style-type: none;
    }
    .achieve-text
    {
        padding: 1rem;
    }
    i
    {
        color: #666;
        font-size: 6.8rem;
    }
    .fa-github { color: #323131; }
    .fa-twitter { color: #1DA1F2; }
    .fa-slack { color: #3C444C; }
    .fa-facebook-official { color: #3B5998; }
    .fa-wordpress { color: #21759B; }
    .fa-git { color: #3D2D00; }
    .fa-html5 { color:#E44D26; }
    .fa-css3 { color:#0070BB; }
    .fa-android { color:#A4CA39; }
    .fa-windows { color:#00188F; }
    .fa-linux { color:#020204; }
    .fa-free-code-camp { color:#006401; }
    img
    {
        width: 6.8rem;
        height: 6.8rem;
    }
}

.achieve-flash { background-color: #fcc; }
.achieve-saas { background-color: #fdb; }
.achieve-iaas { background-color: #ffa; }
.achieve-vm { background-color: #dfb; }
.achieve-manage { background-color: #cfc; }
.achieve-backend { background-color: #bfd; }
.achieve-db { background-color: #aff; }
.achieve-front { background-color: #bdf; }
.achieve-os { background-color: #ccf; }
.achieve-linux { background-color: #dbf; }
.achieve-ide { background-color: #faf; }
.achieve-gameapi { background-color: #fbd; }
.achieve-lang { background-color: #ddd; }
.achieve-misc { background-color: #9f9; }
.achieve-video { background-color: #f99; }
.achieve-graphic { background-color: #99f; }

.work-thc
{
    background-image: url("../img/works/thc-jacket.jpg");
}
.work-atc
{
    background-image: url("../img/works/atc-rein-ryoko.jpg");
}
.work-thm
{
    background-image: url("../img/works/thm-jacket.jpg");
}
.work-em
{
    background-image: url("../img/works/em-jacket.jpg");
}

#email-form .submit-area
{
    padding-left: 0rem;
    padding-right: 0rem;
}

.list-unstyled li
{
    margin-bottom: 1rem;
}

#sns .btn.rounded-circle
{
    width: 8rem;
    height: 8rem;
    border-radius: 50% !important;
    font-size: 4.6rem;
}

#column .card
{
    border: 0.1rem solid #ccc;
}

.d-copy
{
    background-color: @base;
    border-top: 0.2rem solid @baseDark;
    font-size: 80%;
    padding-top: 1rem;
    a
    {
        color: rgba(64, 64, 255, .5);
    }
    a:hover, a:focus
    {
        color: rgba(64, 64, 255, .75);
    }
}
