@charset: "UTF-8";
@base: #BBBFDC; 
@baseDark: #666099;
@lightGrey: #999999;
@darkGrey: #666666;
@white: #ffffff;
@font-stack: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

body
{
}
